body {
  background: #eeeeee;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  padding: .5rem 1rem;
  color: white;
  font-size: 2rem;
}

.topbar-right {
  justify-content: flex-end;
}

.bg-ch {
  background: #6b0c19!important;
}

.content {
  flex: 1;
}

footer {
  font-size: 1.5rem;
  color: #6b0c19;
}

footer a {
  color: #6b0c19;
}
