body {
  background: #eeeeee;
}

.topbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  height: 5rem;
  padding: .5rem 1rem;
  color: white;
  font-size: 2rem;
}

.topbar-right {
  justify-content: flex-end;
}

.bg-ch {
  background: #6b0c19!important;
}
